.container {
  text-align: center;
  margin-top: 23px;
}
table {
  margin: auto;
}
input {
  border-radius: 21px;
  border: 5px solid #244624;
  font-size: 34px;
}
button {
  border-radius: 40px;
  font-size: 30px;
  background: rgb(144, 169, 181);
  width: 102px;
  height: 58px;
}
.calculator {
  background-color: bisque;
  padding: 23px;
  border-radius: 53px;
  display: inline-block;
}
